@import '../../styles/variables.less';
.logo {
  width: 300px;
  height: 75px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: @component-bg-color;
  border-radius: 12px;
}

.logo__img {
  width: 42px;
  height: 45px;
}

.logo__h1 {
  font-size: 28px;
  font-weight: 600;
}