@import '../../styles/variables.less';
.logo {
  width: 214px;
  height: 52px;
  display: flex;
  align-items: center;
  background: @component-bg-color;
  border-radius: 12px;
  cursor: pointer;
  &__img {
    width: 26px;
    height: 32px;
    margin: 0 20px;
  }
  &__h1 {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
  }
}
