.search {
  width: 300px;
  height: 30px;
  background: #1a1a1a;
  display: flex;
  align-items: center;
  border-radius: 14px;
}

.search__icon {
  width: 40px;
  color: #fff;
}

.search__input {
  width: 220px;
  font-size: 14px;
  background: inherit;
  border: none;
  color: #fff;
}