.player-controls {
  width: 300px;
  &__wrap {
    height: 30px;
    display: flex;
  }
  &__volume {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 120px;
    height: 100%;
    border-radius: 15px;
    background: #fff;
  }
  &__substract {
    margin-left: 6px;
  }
  &__add {
    margin-right: 6px;
  }
  &__substract,
  &__add {
    cursor: pointer;
  }
  &__volume-bar {
    width: 72px;
    height: 1px;
    background: #ebebeb;
    position: relative;
  }
  &__point {
    position: absolute;
    top: -5px;
    left: 0px;
    width: 11px;
    height: 11px;
    border-radius: 50%;
    background: #282828;
    cursor: pointer;
  }
  &__song-info,
  &__collect,
  &__play-mode,
  &__play-list {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #fff;
    margin-left: 15px;
    cursor: pointer;
  }
  &__song-info i {
    color: #e8ff00;
  }
  &__collect i {
    color: #ff0069;
  }
  &__play-mode i {
    color: #0092ca;
  }
  &__play-list i {
    color: #ff6100;
  }

  // swiper

  &__swiper {
    position: relative;
    .swiper-slide {
      width: 192px;
      height: 192px;
    }
  }
  &__pre,
  &__next {
    width: 38px;
    height: 38px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 78px;
    z-index: 1;
  }
  &__pre {
    left: 10px;
  }
  &__next {
    right: 10px;
  }
  &__pre-song,
  &__next-song {
    color: #fff;
  }
}
